## [reference document](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/installation_and_configuration_guide/setting_up_cloud_init)

instance-id: {{ inventory_hostname }}
local-hostname: {{ inventory_hostname }}
